# required python dependencys
numpy==1.19.1
interval == 1.0.0
xlrd == 1.2.0
Pillow == 9.3.0
matplotlib == 3.3.0
prettytable == 0.7.2
plotly == 4.8.1
tracery == 0.1.1
nltk == 3.4.5
inflect == 4.1.0
pattern == 3.6
googletrans == 3.0.0
ttkwidgets == 0.11.0